@model QuanLyDoanhThuBH.Models.KhachHang
@{
    ViewData["Title"] = "Thêm khách hàng";
}

<div class="container mt-3" style="max-width: 600px;">
    <h2>Thêm khách hàng mới</h2>

    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()

        <div class="mb-3">
            <label asp-for="TenKH" class="form-label"></label>
            <input asp-for="TenKH" class="form-control" placeholder="Nhập tên khách hàng" />
            <span asp-validation-for="TenKH" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DiaChi" class="form-label"></label>
            <input asp-for="DiaChi" class="form-control" placeholder="Nhập địa chỉ" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" placeholder="Nhập email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="SoDienThoai" class="form-label"></label>
            <input asp-for="SoDienThoai" class="form-control" placeholder="Nhập số điện thoại" />
            <span asp-validation-for="SoDienThoai" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Lưu</button>
        <a asp-controller="KhachHang" asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>


