@{
    var controller = ViewContext.RouteData.Values["controller"]?.ToString();
    var action = ViewContext.RouteData.Values["action"]?.ToString();
    var area = ViewContext.RouteData.Values["area"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuanLyDoanhThu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        @* Chỉ hiển thị nav nếu không ở Home/Index *@
        @if (!(
        (controller == "Home" && action == "Index") ||
        (controller == "TaiKhoan" && action == "DangNhap")
        ))
        {
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="Home" asp-action="TrangChu">Quản Lý Doanh Thu</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link text-white" asp-controller="Home" asp-action="TrangChu">Trang chủ</a></li>
                            <li class="nav-item"><a class="nav-link text-white" asp-controller="HoaDon" asp-action="Index">Hóa đơn</a></li>
                            <li class="nav-item"><a class="nav-link text-white" asp-controller="KhachHang" asp-action="Index">Khách hàng</a></li>
                            <li class="nav-item"><a class="nav-link text-white" asp-controller="SanPham" asp-action="Index">Sản phẩm</a></li>
                            <li class="nav-item"><a class="nav-link text-white" asp-controller="DoanhThu" asp-action="Index">Doanh thu</a></li>
                        </ul>
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <form id="logoutForm" asp-controller="TaiKhoan" asp-action="DangXuat" method="post" class="d-inline">
                                <button type="button" class="btn btn-link nav-link" onclick="confirmLogout()">Đăng xuất</button>
                                </form>
                            </li>
                        </ul>

                        <script>
                            function confirmLogout() {
                                if (confirm("Bạn có chắc chắn muốn đăng xuất không?")) {
                                    document.getElementById('logoutForm').submit();
                                }
                            }
                        </script>
                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">&copy; 2025 - QuanLyDoanhThuBH</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
